DB_URL= 'postgresql://ldb:Tableau2014@localhost/ldb'

MAILCHIMP_APIKEY= 'd5aebaeab75930485df70f3b1385b72c-us3'
MAILCHIMP_TRIAL_REQUESTED_ID = '0a7d5afba4'
MAILCHIMP_TRIAL_REGISTERED_ID = 'ce81d140b6'
MAILCHIMP_TRIAL_NOTINSTALLED_ID = '9f45cccb54'
MAILCHIMP_TRIAL_NORESPONSE_ID = ''
MAILCHIMP_TRIAL_STARTED_ID = 'ab5312669b'
MAILCHIMP_TRIAL_EXPIRED_ID = 'ceed178b73'
MAILCHIMP_CLOSED_WON_ID = 'ab8178b620'
MAILCHIMP_DEBUG = False

SALESFORCE_USERNAME = 'licensing@palette-software.com'
SALESFORCE_PASSWORD = 'Tableau2015!'
SALESFORCE_TOKEN = 'GtjDrVqnGImDkgjc2LJgLIgip'

SF_STAGE_TRIAL_REQUESTED = 'Trial Requested'
SF_STAGE_TRIAL_REGISTERED = 'Trial Registered'
SF_STAGE_TRIAL_NOTINSTALLED = 'Trial Not Installed'
SF_STAGE_TRIAL_NORESPONSE = 'Trial No Response'
SF_STAGE_TRIAL_STARTED = 'Trial Started'
SF_STAGE_TRIAL_EXPIRED = 'Trial Expired'
SF_STAGE_TRIAL_EXTENDED = 'Trial Extended'
SF_STAGE_LICENSE_EXPIRED = 'License Expired'
SF_STAGE_UP_FOR_RENEWAL = 'Up For Renewal'
SF_STAGE_CLOSED_WON = 'Closed Won'

TRIAL_REQ_EXPIRATION_DAYS = 30
TRIAL_REG_EXPIRATION_DAYS = 14
BUY_EXPIRATION_MONTHS = 12

BUY_URL='https://palettesoftware.wufoo.com/forms/buy-palette/def'
BAD_STAGE_URL = 'http://palette-software.com/'
